datasetsforecast>=0.0.10
jinja2>=3.0.0
lightgbm>=3.3.0
matplotlib>=3.5.0
mlforecast>=1.0.0
nbformat>=5.0.0
neuralforecast>=1.7.0
numpy>=1.21.0
pandas>=1.5.0
plotly>=5.0.0
scikit-learn>=1.0.0
statsmodels>=0.13.0